@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-custom-primary {
  background-color: #f8f9fa;
}

.card {
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
  background: #f8fbff;
}

.card:hover img {
  transform: scale(1.1) rotate(-5deg);
}
